@font-face{
  src: url(./assets/fonts/Gilroy-Regular.ttf);
  font-family: 'Gilroy-Regular';
}

$primary: #1A79E8;
$blackPrimary: #293341;
$blackSeconadry: #465364;
$label: #ABB2BD;
$timer: #FE7676;
$textbox: #F7F9FA;
$success: #18B858;
$error: #FF5555;
$warning: #FAC53C;
$background: #FEFEFE;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
  font-family: 'Gilroy-Regular';
}

.primary{
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 0.7em 1.5em;
  background: $primary;
  border: none;
  outline: none;
  border-radius: 100px;
}

.secondary{
  color: #fff;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  background: $blackPrimary;
  border-radius: 100px;
  margin-left: 1.8em;
  font-size: 1em;
}
